
body {background-color: lightblue;}

h1 {color: white;
    text-align: center;}

p {font-family: verdana;
    font-size: 20px;} 

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
