
h2  {font-family: Lobster;
    font-size: 60px;
    text-align: 
    center; 
    font-color: gray;
    border-style: double;
    border: solid; 
    background: gray

 }

p {font-family: verdana;
    font-size: 20px;} 

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; align-items: center
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body {background-color: #DCD8D8}

.navbar {font-family: Bangers}

.footer {
    font-family: Lobster Two;
    text-align: center;
    background-color: #514B4B;
}

.nav-item   {
    margin-right:23px; 
    margin-left:23px;

}
