body	{
	margin-top: 100px;
	background-color: #DCD8D8;
	margin-right:50px;
	margin-left	:50px;
}
footer	{
	background-color: #514B4B;

}
.footer	{
	font-family: Lobster Two;
	text-align: center;
	background-color: #514B4B;
}
.navbar {
	font-family: Bangers;

}

.nav-item	{
	margin-right:23px;
	margin-left:23px;
}
h1  {
  font-family: Lobster;
  font-size: 70px;
  border: double;
  background-color: gray;
  text-align: center;
  margin-bottom: 50px;
}
.conten {
  font-family: karma;
  font-size: 20px;
  text-align: justify;
}
.conten2 {
  font-family: karma;
  font-size: 20px;
  text-align: justify;
}
.conten3 {
  font-family: karma;
  font-size: 20px;
  text-align: justify;
}
.img  {
  float:left;
  margin-right: 20px;
}
.img2 {
  float:right;
  margin-left: 20px;
}
.bak   {
  border-style: solid;
  border-width: 5px;
  background-color: #b8b894;
  padding: 10px 10px 10px 10px;
}
