h1 			{ 	font-family: Lobster
			;font-size: 50px;
			font-style: italic;
			color: black;
}
h2			{	font-family: Lobster
			;font-size: 35px;
			font-style: italic;
			color: black;
}
p 			{	font-family: overlock
			;font-size : 17px
			;font-color:white
			;border: solid black 2px
			;background-color: #b8b894;
}
h1 			{	border: double black
			;background-color: gray;

 }
body		{ 	background-color:#d9d9d9 ;
			margin-right: 50px;
			margin-left: 50px;
}
footer		{	background-color: #514B4B;
}
.footer		{	font-family: Lobster Two;
			text-align: center;
			background-color: #514B4B;
}
.navbar 	{	font-family: Bangers;

}
.nav-item	{	margin-right:23px; 
			margin-left:23px;
}