html { 	text-indent: 1in
		;padding-left : 50px
		;padding-right:50px;
}
h1 	{ 	font-family: pacifico
		;font-size: 70px;
		font-style: italic;
		color: white;
}
p 	{	font-family: Caveat Brush
		;font-size : 20px
		;font-color:white
		;border: solid black 2px
		;background-color: yellow;
}
h1 	{	border: solid black
		;background-color: black;

 }
body{	background-color: #DCD8D8;
}
footer	{
	font-family: Bowlby One SC;
	text-align: center;
	color: white;
}

