.card	{
	background-color: gray;
}
body	{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: #DCD8D8;
}
.card-title	{
	font-family: Lobster Two;
	font-size: 30px;
}
.card-group {
	margin-top: 30px;
}
.footer	{
	font-family: Bowlby One SC;
	text-align: center;
	color: white;
}

footer	{
	background-color: #514B4B;
}
.card-body	{
	text-align: center;
}
.card-text	{
	font-family: Unica One;
	font-size: 20px;

}
.ban 	{
	font-family: Kadwa;
	font-size: 50px;
	text-align: center;
	margin: 5%;
}
