.card	{
	background-color: gray;
}
body	{
	margin-top: 100px;
	background-color: #DCD8D8;
	margin-right:50px;
	margin-left	:50px;
}
.card-title	{
	font-family: Lobster;
	font-size: 30px;
}
.card-group {
	margin-top: 30px;
}
footer	{
	background-color: #514B4B;

}
.footer	{
	font-family: Lobster Two;
	text-align: center;
	background-color: #514B4B;
}
.card-body	{
	text-align: center;
}
.card-text	{
	font-family: Karma;
	font-size: 20px;

}
.ban 	{
	font-family:Lobster;
	font-size: 50px;
	text-align: center;
	margin: 5%;
}
.navbar {
	font-family: Bangers;

}

.nav-item	{
	margin-right:23px;
	margin-left:23px;
}
