h1	{font-family: Pacifico ;
	 font-size: 70px;

}
p {font-family: Caveat Brush;
	font-size : 20px;
	color: white;
	text-indent: 1in;
	padding-left: 50px;
	padding right:50px;
	border-top-style: dashed;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: solid;
 	background-color: green;

}


 h1	{font-family: Pacifico;
 	font-size: 60px;
	text-align: 
	center;	
	font-color: gray;
	border-style: double;
 	border: solid; 
 	background-color: red;

 }


 body {background-color: #DCD8D8}

 footer	{
	font-family: caveat Brush;
	text-align: center;
	color: white;
}



footer	{font-family: Caveat Brush;
		 text-align: center;
		 color: white;

}

footer	{
	background-color: black;
}
