h1	{font-family: Pacifico ;
	 font-size: 70px;

}
p {font-family: Mukta Mahee ;
	font-size : 15px;
	color: white;
}

p { text-indent: 1in;
	 padding-left: 20px;
	 padding right:20px;
}


 h1	{font-family: Pacifico;
 	font-size: 60px;
	text-align: 
	center;	
	font-color: gray;
	border-style: double;
 
 }

 h1 {border: solid; 
 	background-color: red;

 }

 p {border: dashed;
 	background-color: green

 }

 body {background-color: #DCD8D8}

