h1	{font-family: Lobster ;
	 font-size: 70px;
	 margin-left : 50px
	;margin-right: 50px;

}

p {font-family: Karma;
	font-size : 20px;
	color: black;
	text-indent: 1in;
	padding-left: 30px;
	padding right:30px;
	margin-left: 50px;
	margin-right:50px;
	border-top-style: dashed;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: solid;
 	background-color: #b8b894;

}


 h1	{font-family: Lobster;
 	font-size: 60px;
	text-align: 
	center;	
	font-color: gray;
	border-style: double;
 	border: solid; 
 	background: gray

 }


 body {background-color: #DCD8D8}


footer	{font-family: Lobster two;
		 text-align: center;
		 margin-left: 20px;
		 margin-right:20px;
		 background-color: #514B4B

}

.navbar {font-family: Bangers

}

.footer	{
	font-family: Lobster Two;
	text-align: center;
	background-color: #514B4B;
}

.nav-item	{
	margin-right:23px; 
	margin-left:23px;

}

