h1	{	font-family: Pacifico 
		; font-size: 70PX
		; font-style: italic;
		text-align: center;
		border-bottom: 6px solid black;




}

p{ font-family: Caveat Brush ;
		font-size: 35px ;
		word-break: break-word;
		color: black;




}


body { background-color: #dcd8d8;
	margin-right: 50px;
	margin-left: 50px;




}
