h1	{font-family: Lobster;
	font-size: 70px;
	text-align: center;
	border: double;
	border-color: black;
	background-color: gray;



}

.huruf	{
	font-family: overlock;
	font-size: 23px;
	background-color: #b8b894;
}

footer	{
	background-color: #514B4B;

}
.footer	{
	font-family: Lobster Two;
	text-align: center;
	background-color: #514B4B;
}

body { background-color:#d9d9d9 ;
		margin-right: 50px;
		margin-left: 50px;


}

.navbar {
	font-family: Bangers;

}

.nav-item	{
	margin-right:23px; 
	margin-left:23px;
}
