h1	{font-family: Pacifico;
	font-size: 75px;
	text-align: center;
	font-color: gray;
	border-style: double;



}

p { font-family: Advent Pro ;
	font-size: 25px;
	


}

body { background-color: #ccd9ff;

}
