h1	{	font-family: Lobster 
		; font-size: 70PX
		; font-style: italic;
		text-align: center;
		border: double;
		border-color: black;
		background-color: gray;

}

.huruf	{
	font-family: overlock;
	font-size: 23px;
	background-color: #b8b894;
}

footer	{
	background-color: #514B4B;

}

.footer	{
	font-family: Lobster Two;
	text-align: center;
	background-color: #514B4B;
}


}

p{ font-family: Karma ;
		font-size: 35px ;
		word-break: break-word;
		color: black;
		border-right: solid;
		border-bottom: solid;
		border-left: solid;
		border-top: solid;
		text-indent: 1in;

}


body { background-color: #dcd8d8;
	margin-right: 50px;
	margin-left: 50px;




}


.navbar {
	font-family: Bangers;

}



.nav-item	{
	margin-right:23px; 
	margin-left:23px;
}