
h1 {font-family: lobster; font-size: 70px}
#firstHeading	{
	background-color: gray;
	border: double;
} 
.nama	{
	background-color: red;
}
body {
	background-color: #DCD8D8;
	margin-right: 50px; 
	margin-left: 50px;
}
td {
	font-family: Caveat Brush;
}
footer	{
	background-color: #514B4B;

}
.footer	{
	font-family: Lobster Two;
	text-align: center;
	background-color: #514B4B;
}
.navbar	{font-family: Bangers;

}

.nav-item	{
	margin-right:23px; 
	margin-left:23px;
}
tbody	{
	background-color: #b8b894;
}
thead	{
	background-color: #5c5c3d;
}